version 11.0.0
source https://api.nuget.org/v3/index.json
frameworks: net10.0, netstandard2.0
storage:none

nuget Fable.Core
nuget Fable.Promise
nuget Fable.Node
nuget Fable.Browser.Dom

nuget FSharp.Core ~> 10.1
nuget Fable.Remoting.AspNetCore
nuget System.IO.Packaging
github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs

group Test
    source https://api.nuget.org/v3/index.json
    frameworks: net10.0

    nuget Microsoft.NET.Test.Sdk
    nuget NUnit3TestAdapter
    nuget NUnit ~> 4.6
    nuget FsUnit
    nuget Verify.NUnit = 31.9.2
    nuget Verify = 31.9.2
    nuget Argon.FSharp
    nuget FSharp.Core ~> 10.1

