version 9.0.2
source https://api.nuget.org/v3/index.json
frameworks: net8.0, netstandard2.0
storage:none

nuget Fable.Core
nuget Fable.Promise
nuget Fable.Node
nuget Fable.Browser.Dom

nuget FSharp.Core
nuget Fable.Remoting.AspNetCore
nuget System.IO.Packaging

nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter
nuget FsUnit

github ionide/ionide-vscode-helpers src/Fable.Import.VSCode.fs
github ionide/ionide-vscode-helpers src/Helpers.fs
