name: Build Pull Requests

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main


jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'yarn'

    - name: Restore local tools
      run: dotnet tool restore
    - name: Restore dependencies
      run: dotnet paket restore
    - name: Install VSCE
      run: yarn global add vsce
    - name: Build and Test
      run: dotnet fsi build.fsx -t Build
