name: Build Pull Requests

on:
  push:
    branches:
    - '*'

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]
        dotnet: [6.0.413]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '15.12.0'
    - name: Restore local tools
      run: dotnet tool restore
    - name: Paket Restore
      run: dotnet paket restore
    - name: Install VSCE
      run: yarn global add vsce
    - name: Build and Test
      run: dotnet fake run build.fsx -t Build
